* {
  margin: 0;
  padding: 0;
}

body {
  background: #dcd7c9;
  height: 100vh;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #3f4f44;
  color: #dcd7c9;
  height: 70px;
}

#logo h1 {
  text-align: center;
  margin: 0 20px;
  padding-left: 30px;
  font-weight: bold;
  font-size: 2rem;
}

#logo h1 span {
  color: #a27b5c;
  font-size: 2rem;
}

#menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 30px;
}

#menu ul li {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 40px;
}

#menu ul li a {
  text-decoration: none;
  color: #dcd7c9;
}

#menu ul li a:hover {
  color: #a27b5c;
}

#menu ul li:hover {
  cursor: pointer;
  color: #a27b5c;
}

/* Main section */

#main {
  align-content: center;
  height: 58vh;
  color: #fff;
  background: no-repeat center url(../images/bike-background.jpg);
  min-height: 80%;
  min-width: 100%;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#main .greet-1 {
  width: 50vw;
  padding: 0 40px;
}

#main .greet-1 h1 {
  margin: 30px 0;
  font-weight: bold;
}

#main .greet-2 {
  width: 50vw;
  margin-top: 250px;
  padding: 0 40px;
}

#main .greet-2 p {
  text-align: justify;
  font-size: 1.5rem;
}

#main button {
  float: right;
  margin-right: 50px;
  width: 200px;
  height: 50px;
  background: #a27b5c;
  border-radius: 10px;
  color: #3f4f44;
  font-size: 1.4rem;
  font-weight: bold;
}

#main button:hover {
  border: 2px solid #a27b5c;
  background: #3f4f44;
  color: #a27b5c;
}

/* Offer section */

#offers {
  /* height: 30vh; */
  padding-bottom: 20px;
  text-align: center;
}

#offers h1 {
  color: #3f4f44;
  margin: 20px 0 30px 0;
  font-weight: bold;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  flex-wrap: wrap;
}

/* bikes page */
.container {
  min-height: 88vh;
}
.container h1 {
  text-align: center;
  color: #3f4f44;
  margin: 40px 0;
  font-weight: bold;
}

.container p {
  margin: 20px 0;
  font-size: 1.5rem;
  text-align: justify;
}

.gallery {
  margin-bottom: 50px;
}

/* Service page */

#service .card {
  height: 45vh;
  border: 5px solid #a27b5c;
  margin-top: 30px;
}

.card h4 {
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
  border-bottom: 3px solid #a27b5c;
  font-weight: bold;
  font-size: 1.6rem;
}

#service .card ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#service .card .service-item {
  list-style: none;
  margin: 10px;
  padding: 5px;
  font-weight: bold;
  font-size: 1.1rem;
}

#service .card .book-btn {
  height: 40px;
  width: 120px;
  float: right;
  margin: 10px 30px;
  border-radius: 10px;
  background: #2c3930;
  color: #a27b5c;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

#service .card .book-btn:hover {
  background: #a27b5c;
  color: #2c3930;
}

.offer {
  margin: 40px 20px;
  padding: 20px;
  text-align: center;
}

.offer button {
  height: 60px;
  width: 350px;
  margin-bottom: 20px;
  background: #a27b5c;
  border-radius: 10px;
  color: #3f4f44;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
}

.offer button:hover {
  background: #2c3930;
  color: #a27b5c;
}

.offer p {
  padding-top: 30px;
  text-align: justify;
  font-size: 1.8rem;
}

/* Footer */

footer {
  height: 70px;
  background-color: #2c3930;
  color: #dcd7c9;
}

#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
}

#footer span {
  color: #a27b5c;
}
