* {
  margin: 0;
  padding: 0;
}

body {
  background: #dcd7c9;
  height: 100vh;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #3f4f44;
  color: #dcd7c9;
  height: 5vh;
}

#logo h1 {
  text-align: center;
  margin: 0 20px;
  padding-left: 30px;
  font-weight: bold;
  font-size: 2rem;
}

#logo h1 span {
  color: #a27b5c;
  font-size: 2.4rem;
}

#menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 30px;
}

#menu ul li {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 20px;
}

#menu ul li:hover {
  cursor: pointer;
  color: #a27b5c;
}

/* Main section */

#main {
  /* display: flex; */
  /* justify-content: space-between; */
  height: 60vh;
  color: #fff;
  background: no-repeat center url(../images/bike-background.jpg);
  min-height: 100%;
  min-width: 100%;
}

/* Offer section */

#offers {
  height: 30vh;
  text-align: center;
}

#offers h1 {
  color: #a27b5c;
  margin: 20px 0 30px 0;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

/* Footer */

footer {
  height: 5vh;
  background-color: #3f4f44;
  color: #dcd7c9;
}

#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
