* {
  margin: 0;
  padding: 0;
}

body {
  background: #dcd7c9;
  height: 100vh;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #3f4f44;
  color: #dcd7c9;
  height: 5vh;
}

#logo h1 {
  text-align: center;
  margin: 0 20px;
  padding-left: 30px;
  font-weight: bold;
  font-size: 2rem;
}

#logo h1 span {
  color: #a27b5c;
  font-size: 2rem;
}

#menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 30px;
}

#menu ul li {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 20px;
}

#menu ul li:hover {
  cursor: pointer;
  color: #a27b5c;
}

/* Main section */

#main {
  align-content: center;
  height: 58vh;
  color: #fff;
  background: no-repeat center url(../images/bike-background.jpg);
  min-height: 80%;
  min-width: 100%;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#main .greet-1 {
  width: 50vw;
  padding: 0 40px;
}

#main .greet-1 h1 {
  margin: 30px 0;
  font-weight: bold;
}

#main .greet-2 {
  width: 50vw;
  margin-top: 250px;
  padding: 0 40px;
}

#main .greet-2 p {
  text-align: justify;
  font-size: 1.5rem;
}

#main button {
  float: right;
  margin-right: 50px;
  width: 200px;
  height: 50px;
  background: #a27b5c;
  border-radius: 10px;
  color: #3f4f44;
  font-size: 1.4rem;
  font-weight: bold;
}

#main button:hover {
  border: 2px solid #a27b5c;
  background: #3f4f44;
  color: #a27b5c;
}

/* Offer section */

#offers {
  height: 30vh;
  text-align: center;
}

#offers h1 {
  color: #196130;
  margin: 20px 0 30px 0;
  font-weight: bold;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

/* Footer */

footer {
  height: 5vh;
  background-color: #2c3930;
  color: #dcd7c9;
}

#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
}

#footer span {
  color: #a27b5c;
}
